---
import MainLayout from "../Layout/MainLayout.astro";
const headColor ="purple";


import Greeting from '../components/Greeting.jsx';
---
		<style define:vars={{headColor}}>
			h1{
				color: var(--headColor);
			}
		</style>

<MainLayout pagetitle="Home Page">

	<h1>Astro Sites</h1>




	<!--<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />-->

		

</MainLayout>





