---
import "../style/global.css"
---

<div id="navbar" class="nav-links expanded ">
<a href="/"><button>Home</button></a>
<a href="/about"><button>about</button></a>
<a href="/blog"><button>blog</button></a>
</div>

